@{
    string Delete = "true";
    //if (User.IsInRole("Admin"))
    //{
    //    Delete = "true";
    //}
}

<div class="row mt-3">
    <div class="col-xl-12">
        <div class="card shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <h6 class="text-uppercase text-muted ls-1 mb-1">List View</h6>
                        <h2 class="mb-0">Navigation Items </h2>
                    </div>
                    <div class="col-md-9">
                        <div class="text-right">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-primary"  href="/DynamicNavigation/Form">Create</a>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group my-0">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            </div>
                                            <input id="DataTableSearch" class="form-control" placeholder="Search NavigationItem " type="text">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><a href="javascript:void(0)" id="ClearDataTableSearch" class="fa fa-lg fa-times-circle text-danger"></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" data-simplebar>
                <table id="NavigationListTable" class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Navigation Name</th>
                            @*<th scope="col">Parent Navigation</th>*@
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var dataTable;

        $(document).ready(function () {
            // Init DataTable
            //alert("not expected");

            dataTable = $("#NavigationListTable").DataTable({
                "ajax": {

                    "url": "/DynamicNavigation/GetAll",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": "navigationItems" // JSON response ke andar data ka location
                
                },
                "columns": [
                    { "data": "code" },
                    { "data": "name" }, // Columns ka data source
                    //{ "data": "ParentNavigation" }, 
                    { "data": "navigationId" }
                ],
                "columnDefs": [
                    
                    {
                        "targets": 2,
                        "render": function(data, type, row) {
                            if ('@Delete' == "true") {
                                debugger
                                return '<a class="fa fa-fw fa-lg fa-pencil-alt text-primary" href="#/DynamicNavigation/Form?ID=' + data + '" data-toggle="tooltip" title="Edit"/>' +
                                    '<a class="fa fa-fw fa-lg fa-trash text-danger" href="javascript:void(0)" onclick="DeleteNavigation(' + data + ')" data-toggle="tooltip" title="Delete"/>'
                             }
                            else {
                                return '<a class="fa fa-fw fa-lg fa-pencil-alt text-primary" href="#/DynamicNavigation/Form?ID=' + data + '" data-toggle="tooltip" title="Edit"/>'
                             }
                        }
                    }

                ]
            });
        })



    // Attach input to table search
    $('#DataTableSearch').on('keyup', function () {
        dataTable.search(this.value).draw();
    });

    // Clear input and search
    $('#ClearDataTableSearch').on('click', function () {
        $('#DataTableSearch').val("").trigger('keyup')
    });

    function DeleteNavigation(NavigationId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "Store will be deleted from the system!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#f5365c',
            cancelButtonColor: '#2dce89',
            confirmButtonText: 'Delete'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/DynamicNav/NavigationItem/DeleteNavigationItem?Id=' + NavigationId,
                    error: (error) => { console.log(error) },
                    success: (response) => {
                        Swal.fire({
                            title: response["Title"],
                            text: response["Message"],
                            type: response["Type"],
                            timer: 1500,
                            showCancelButton: false,
                            showConfirmButton: false,
                            onClose: () => {
                                dataTable.ajax.reload();
                            }
                        })
                    }
                })
            }
        })
    }
</script>
